{{!< default}}

{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 mx-auto">
<br />
<br />
{{#tag}}<h1 class="tag-archieves text-center font-weight-bold">{{name}}</h1>{{/tag}}
<br />
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-sm-4 mx-auto">

{{#foreach posts}}
<article class="{{post_class}}">
{{!-- <h2 class="post-home"><a href="{{url}}" title="{{title}}">{{title}}</a></h2> --}}
{{#primary_author}}<span class="post-author">Posted by <a href="{{url}}" rel="author">{{name}}</a></span>{{/primary_author}}
{{#primary_tag}}<span class="post-tags"> in <a href="{{url}}">{{name}}</a></span>{{/primary_tag}}
<P></P>
<div class="post-hl">
{{content}}
</div>
<br />
<div class="text-center">
<div class="sharebuttons btn-group">
<a class="btn btn-sm btn-success" href="{{url}}">Read More</a>
</div>
</div>
<hr>
</article>
{{else}}
<p class="text-center"><b>No Posts Found in this Tag</b></p>
{{/foreach}}

<div class="text-center">
{{pagination}}
</div>

</div>
</div>
</div>